@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    margin: 0;
  }

  h1, h2, h3 {
    font-weight: 500;
  }

  p {
    margin: 0;
  }
}
